/*
 *  Create Private Conversation Modal
 */

.ui.basic.create-private-conversation.modal {
    color: #000;
}

.private-conversation-row {
    border-style: solid;
    border-width: 1px 0 0;
    border-color: #E8E8E8;
    margin: 0 0 0 15px;
    padding: 0;
}

    .private-conversation-row:hover {
        border-radius: 5px;
        background-color: #c4e5f2;
    }

        .private-conversation-row:hover .mycheckmark {
            visibility: visible;
        }

.mycheckmark {
    visibility: hidden;
}

.private-conversation-tag {
    margin-right: 2px;
    background: #2D9EE0;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin: 1px;
    display: inline-block;
    border-radius: .2rem;
}

#inputtext {
    border: 0;
    display: inline-block;
    padding: 5px;
    width: auto;
    min-width: 250px;
}

.inputholder {
    border: 1px solid #222426;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: .28571429rem;
    padding: 5px;
}

/*
 *  Create New Room Modal
 */

.ui.basic.create-room.modal {
    color: #000;
}

    .ui.basic.create-room.modal > .actions {
        border: none;
    }