.ui.basic.create-private-conversation.modal,
.ui.basic.create-room.modal,
.ui.basic.browse-channels.modal {
    color: #000;
}

/*
 *  Create Private Conversation Modal and Browse Room Modal
 */

.private-conversation-row,
.browse-room-row {
    border-style: solid;
    border-width: 1px 0 0;
    border-color: #E8E8E8;
    margin: 0 0 0 15px;
    padding: 0;
}

    .private-conversation-row:hover,
    .browse-room-row:hover {
        border-radius: 5px;
        background-color: #c4e5f2;
        cursor: pointer;
    }

        .private-conversation-row:hover .mycheckmark,
        .browse-room-row:hover .mycheckmark {
            visibility: visible;
        }

.mycheckmark {
    visibility: hidden;
}

    .mycheckmark i {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

/*
 *  Now only Create Private Conversation Modal
 */

.private-conversation-tag {
    margin-right: 2px;
    background: #2D9EE0;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin: 1px;
    display: inline-block;
    border-radius: .2rem;
}

#inputtext {
    border: 0;
    display: inline-block;
    padding: 5px;
    width: auto;
    min-width: 250px;
}

.inputholder {
    border: 1px solid #222426;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: .28571429rem;
    padding: 5px;
}

/*
 *  Create New Room Modal
 */

.ui.basic.create-room.modal > .actions {
    border: none;
}

#createNewChannelLabel {
    margin-left: 10px;
}