body {
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #E3E4E5;
    color: #4A4A4A;
    display: block;
    height: 100%;
}

.hr {
margin-bottom: 30px;
margin-top: 30px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
padding-left: 15px;
padding-right: 15px;
}

html, body {
height: 100%;
}

body > .grid {
height: 100%;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
max-width: 280px;
}

/*naglowek*/
.ui.inverted.menu {
    color: #4A4A4A;
    background-color: #E3E4E5;
    font-size: 20px;
}
.ui.inverted.menu.item {
    color: #4A4A4A;
    font-size: 24px;
}
.ui.secondary.pointing.menu {
   font-size: 17px;
    color: #4A4A4A;
    font-family: sans-serif;

}

/*stopka*/
.cat_2 {
    list-style-type: none;
    color: #e32072;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Slack-Lato,appleLogo,sans-serif;
    font-weight: 700;
}
.cat_1 {
    list-style-type: none;
    color: #4A4A4A;
    text-transform: lowercase;
    font-size: 15px;
    font-family: Slack-Lato,appleLogo,sans-serif;
    font-weight: 700;
}
.ui.inverted.vertical.footer.segment {
margin-top: 10px;

color: #4A4A4A;
width:100%;
background-color:whitesmoke;
position:absolute;
}

/*własny przycisk*/
.orginalbutton {
    border: 0;
    text-align: center;
    vertical-align: central;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    height: 35px;
    width: 100px;
    display: inline-block;
    background-color: #42c299;
    color: #fff ;
    position: relative;
    line-height: 32px;
}

/*powiekdzenie własnego przycisku*/
.big {
    height: 40px;
    width: 200px;
}

/* w Index*/
.logo {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    position: relative;
    left: 10px;
}
.indexbackgrounds {
    background-color: #E3E4E5;
    background-position: bottom;
    background-image: url(../images/illos-large.png);
    background-size:contain;
    background-repeat: no-repeat;
}
.indexleftcolumn {
    background-image:url(../images/emlememle.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    height:100%;
    margin:auto;
    position:center;
    align-self:center;
    text-shadow: 20px 20px 0 0 #4A4A4A;
}
.headline {
    font-family: Slack-Lato,appleLogo,sans-serif;
    font-weight: 900;
    font-size: 94px;
    line-height: 1;
    top:30%;
    position: relative;
    white-space: nowrap;
}
.middle.aligned.center.aligned.column {
    height:100%;
}
/* w create new domain*/

.domainbackground {
    background-color: #21B2FE;
    width: 100%;
    height: 100%;
    border: none;
    background-image: url(../images/talks.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.domainleftcolumn{
    top:35%;
}
.socloce {
     padding-top: 0 !important;
     padding-bottom: 0 !important;
}

/* we wszystkich auth views*/
.webressetbox {
    top: -10%;
    /*padding-top: 40px;*/
    max-width: 500px;
    text-align: center;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    border: 1px solid #E8E8E8;
}

/*w rejestracji*/
.column.webressetbox {
    padding-left: 50%;
    padding-right: 5%;
    padding-top: 5%;
}

/*w confirm email*/
.pages {
    background-color: #1377db;
    text-align: center;
    padding: 5px;
}
.topic {
    text-align: center;
}
.mywrapper {
    border-width: 1px;
    border: 1px solid;
    border-color: black;
    border-top: 0;
}
h1 {
    font-size: 38px;
}
.button1 {
    background-color: white;
    color: black;
    display: inline-block;
    border: 2px solid #4CAF50;
    padding: 16px 32px;
    text-align: center;
    margin-top: 11px;
    margin-bottom: 11px;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
.button1:hover {
        background-color: #4CAF50;
        color: white;
    }
/*validation*/
.text-danger{
    text-align:left;
    color:orangered;
}