body {
padding-top: 5px;
padding-bottom: 20px;
background-color: #E3E4E5;
color: #4A4A4A;
display: block;
height: 100%;
}

.hr {
margin-bottom: 30px;
margin-top: 30px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
padding-left: 15px;
padding-right: 15px;
}

html, body {
height: 100%;
}

body > .grid {
height: 100%;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
max-width: 280px;
}

/* Carousel */
.carousel-caption p {
font-size: 20px;
line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
/* Hide captions */
.carousel-caption {
display: none;
}
}
@media (min-height: 320px) {
}

/*naglowek*/
.ui.inverted.menu {
background-color: #E3E4E5;
font-size: 20px;
}
/* naglowek*/
.ui.inverted.menu.item {
    color: #4A4A4A;
    font-size: 20px;
}
/* w Index*/
.logo {
margin-right: 10px;
width: 50px;
height: 50px;
position: relative;
left: 10px;
}
/*stopka*/
.ui.inverted.vertical.footer.segment {
background-color: #E3E4E5;
color: #4A4A4A;
}
/*własny przycisk*/
.orginalbutton {
    border: 0;
    text-align: center;
    vertical-align: central;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    height: 35px;
    width: 100px;
    display: inline-block;
    background-color: #42c299;
    color: #fff !important;
    position: relative;
    line-height: 32px;
}
/* w Index*/
.indexbackgrounds {
    background-color: #E3E4E5;
    background-position: bottom;
    background-image: url(../images/illos-large.png);
    background-size: contain;
    background-repeat: no-repeat;
}
/* w create new domain*/
.domainbackground{
    width: 100%;
    height: 100%;
    border: none;
    background-image: url(../images/talks.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/*powiekdzenie własnego przycisku*/
.big {
    height: 40px;
    width: 200px;
}
/* we wszystkich auth views*/
.webressetbox {
    margin-top: -100px;
    padding-top: 40px;
    max-width: 450px;
    text-align: center;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    border: 1px solid #E8E8E8;
}

