version: 2

jobs:
  build:
    working_directory: /temp
    docker:
      - image: microsoft/dotnet:sdk

    environment:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1

    steps:
      - checkout
      - run: dotnet --info
      #- run: nuget restore
      - run: dotnet restore
      - run: dotnet build ./TrollChat.DataAccess
      - run: dotnet build ./TrollChat.BusinessLogic
      #- run: dotnet build
      - run: dotnet test ./TrollChat.BusinessLogic.Tests #--no-build
