@using TrollChat.Web.Helpers
@using TrollChat.Web.Models.Common

@{
    var alertMessages = TempData.Get<List<AlertModel>>("alertMessages");

    if (alertMessages.Any())
    {
        foreach (var alert in alertMessages)
        {
            <div class="ui @alert.Type.ToString().ToLower() message">
                <i class="close icon"></i>

                <div class="header">
                    @alert.Message
                </div>
                
                @if (!string.IsNullOrEmpty(alert.MoreInfo))
                {
                    @alert.MoreInfo
                }
            </div>
        }
    }
}

@section Scripts
{
    <environment names="Development">
        <script src="~/js/alert.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/alert.min.js" asp-append-version="true"></script>
    </environment>
}
