@{
    Layout = "_MasterLayout";
}

@section CSS
{
    <environment names="Development">
        <link rel="stylesheet" href="~/css/chat.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/chat.min.css" asp-append-version="true" />
    </environment>
}

@section Pre_Body
{
    <div class="ui vertical inverted sidebar menu visible">
        <div class="item">
            <a class="ui logo icon image" href="/">
                <img src="/images/troll.png" alt="Logo">
            </a>
            <a href="/"><b>TrollChat</b></a>
        </div>
        <a class="active teal item">
            Inbox
            <div class="ui teal left pointing label">1</div>
        </a>
        <a class="item">
            Spam
            <div class="ui label">51</div>
        </a>
        <a class="item">
            Updates
            <div class="ui label">1</div>
        </a>
        <div class="item">
            <div class="header">Products</div>
            <div class="menu">
                <a class="item">
                    Enterprise
                    <div class="ui label">1</div>
                </a>
                <a class="item">Consumer</a>
            </div>
        </div>
        <div class="item">
            @using (Html.BeginForm("Logout", "Auth", null, FormMethod.Post, true, new { id = "logoutForm" }))
            {
                <button type="submit" class="ui button negative">Log off</button>
            }
        </div>
        <div class="item down">
            <div class="ui transparent icon input">
                <input type="text" placeholder="Search mail...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>

    <div class="ui main container">
        @if (TempData.ContainsKey("alertMessages"))
        {
            @Html.Partial("_AlertsPartial")
        }

        <header id="chat-header">
            <div class="channel_name">
                #TrollChat Dev channel
            </div>
        </header>
        
        <div id="chat-messages">
            <div class="tc-message">
                <div class="message_content">
                    <div class="message_content_header">
                        <a href="#" class="message_sender">Saibamen</a>
                        <a href="#" class="timestamp">15:54</a>
                    </div>
                    <span class="message_body">Testowa wiadomość</span>
                </div>
            </div>
            <div class="tc-message">
                <div class="message_content">
                    <div class="message_content_header">
                        <a href="#" class="message_sender">Grzechu</a>
                        <a href="#" class="timestamp">15:58</a>
                    </div>
                    <span class="message_body">Spam</span>
                </div>
            </div>
        </div>
        
    <div id="chat-input">
        <form id="msg_form" class="offline" onsubmit="TS.view.submit(); return false;" data-qa="message_form">
            <textarea id="msg_input" aria-label="Message input" data-qa="message_input"></textarea>
			
            <button type="button" id="primary_file_button" data-js="primary_file_button" class="btn_unstyle file_upload_btn" aria-label="File menu">
                <i class="ts_icon ts_icon_plus_thick"></i>
            </button>

            <input type="file" id="file_upload" class="offscreen" multiple="multiple" aria-hidden="true" data-qa="file_upload" tabindex="-1"
            >

            <button type="button" id="main_emo_menu" class="btn_unstyle emo_menu hidden" aria-label="Emoji menu">
                <i class="ts_icon ts_icon_circle_fill"></i>
                <i class="ts_icon ts_icon_smile_o"></i>
                <i class="ts_icon ts_icon_happy_smile"></i>
            </button>

            <div id="msg_input_message"><span></span></div>
        </form>
    </div>
}

@section Post_Body
{
</div>
}

@section Scripts
{
    <environment names="Development">
        <script src="~/js/chat.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/chat.min.js" asp-append-version="true"></script>
    </environment>
}
@RenderBody()