@{
    Layout = "_MasterLayout";
}

@section CSS
{
    <environment names="Development">
        <link rel="stylesheet" href="~/css/chat.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/chat.min.css" asp-append-version="true" />
    </environment>
}

@section Pre_Body
{
    <div class="ui vertical inverted sidebar menu visible">
        <div class="item">
            <a class="ui logo icon image" href="/">
                <img src="/images/troll.png" alt="Logo">
            </a>
            <a href="/"><b>TrollChat</b></a>
        </div>
        <a class="active teal item">
            Inbox
            <div class="ui teal left pointing label">1</div>
        </a>
        <a class="item">
            Spam
            <div class="ui label">51</div>
        </a>
        <a class="item">
            Updates
            <div class="ui label">1</div>
        </a>
        <div class="item">
            <div class="header">Products</div>
            <div class="menu">
                <a class="item">
                    Enterprise
                    <div class="ui label">1</div>
                </a>
                <a class="item">Consumer</a>
            </div>
        </div>
        <div class="item">
            @using (Html.BeginForm("Logout", "Auth", null, FormMethod.Post, true, new { id = "logoutForm" }))
            {
                <button type="submit" class="ui button negative">Log off</button>
            }
        </div>
        <div class="item down">
            <div class="ui transparent icon input">
                <input type="text" placeholder="Search mail...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>

    <div class="ui main container">
        @if (TempData.ContainsKey("alertMessages"))
        {
            @Html.Partial("_AlertsPartial")
        }

        <div id="chat-header"><h2>Header</h2></div>

        <div id="chat-messages">Messages</div>

        <div id="chat-input">
            <div class="ui action input">
                <input type="text" placeholder="Type message here...">
                <div class="ui button primary">Go</div>
            </div>
        </div>
}

@section Post_Body
{
</div>
}

@section Scripts
{
    <environment names="Development">
        <script src="~/js/chat.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/chat.min.js" asp-append-version="true"></script>
    </environment>
}
@RenderBody()