<div class="ui basic delete modal">
    <div class="ui icon header">
        <i class="archive icon"></i>
        Delete Message
    </div>

    <div class="content">
        <p>Do you really want to delete this message?</p>
    </div>
    <div class="actions">
        <div class="ui green ok inverted button">
            <i class="cancel icon"></i>
            No
        </div>
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Yes
        </div>
    </div>
</div>