<div class="ui vertical inverted sidebar menu visible left">
    <div id="team_menu" class="item">
        <div id="team_name"></div>

        <a class="ui logo icon image" href="/">
            <img src="/images/troll.png" alt="Logo">
        </a>

        <div id="team_menu_user">
            <div id="presence_container" class="ts_tip">
                <i class="small circle green icon"></i>
            </div>
            
            <span id="team_menu_user_name" class="current_user_name"></span>
        </div>
    </div>
    <div class="sidebar_channels_messages">
        <div class="item">
            <button id="createNewChannel" class="btn_unstyle right" aria-label="Create new channel" data-content="Create new channel" data-position="bottom center"><i class="inverted add circle icon"></i></button>
            <div id="channelsCount" data-content="Browse all channels" data-position="bottom left">CHANNELS (0)</div>
            <div class="menu" id="channelsMenu">
            </div>
        </div>
        <div class="item">
            <button id="createNewPrivateConversation" class="btn_unstyle right" aria-label="Open a Direct Message" data-content="Open a Direct Message" data-position="bottom center"><i class="inverted add circle icon"></i></button>
            <div id="directMessagesTitle" data-content="Open a Direct Message" data-position="bottom left">DIRECT MESSAGES</div>
            <div class="menu" id="privateConversationsMenu">
            </div>
        </div>
    </div>
    <div class="item down">
        <div class="item">
            @using (Html.BeginForm("Logout", "Auth", null, FormMethod.Post, true, new { id = "logoutForm" }))
            {
                <button type="submit" class="ui fluid button negative">Log off</button>
            }
        </div>
    </div>
</div>
