@using Microsoft.AspNetCore.Mvc.Rendering
@{
    if (Context.Authentication.HttpContext.User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "Auth", null, FormMethod.Post, true, new { id = "logoutForm" }))
        {
            <button type="submit" class="orginalbutton">Log off</button>
        }
    }
    else
    {
        <a asp-controller="Auth" asp-action="ChooseDomain" class="orginalbutton">Sign in</a>
    }
}