@{
    if (Context.Authentication.HttpContext.User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "Auth", null, FormMethod.Post, true, new { @class = "navbar-right", id = "logoutForm" }))
        {

                    <button type="submit" class="header item">Log off</button>

        }
    }
    else
    {
                <a asp-controller="Auth" asp-action="Register" class="header item" >Register</a>

                <a asp-controller="Auth" asp-action="Login" class="header item" >Log in</a>


    }
}

