<ul class="nav navbar-nav navbar-right">
    <li>
        <a asp-controller="Auth" asp-action="Register">Register</a>
    </li>
    <li>
        <a asp-controller="Auth" asp-action="Login">Log in</a>
    </li>
</ul>