<div class="ui sidebar vertical inverted right" id="rightsidebarblock">
	<div class="ui item">
    	<i id="closerightbar" class="remove icon" data-content="Close Right Sidebar" data-position="bottom center"></i>
    	<div id="rightbar_Title" class="rightbar_Title"></div>
    </div>
    <div class="ui item">
	    <div class="header" id="Rightbar">
	    </div>
    </div>
</div>
