<div class="ui sidebar vertical inverted right">
    <div class="container" >
    <i id="closerightbar" class="remove icon"></i>
    <div id="rightbar_Title" class="rightbar_Title"> </div>
    <div class="header" id="Rrightbar">      
        </div>
        <div class="item">
        </div>
    </div>
</div>
