<div class="ui sidebar vertical inverted right">
    <i id="closerightbar" class="remove icon"></i>
    <div class="header">
        <div id="rightbar_Title" class="rightbar_Title">  </div>
    </div>
    <div class="item">
    </div>
</div>