@{
    Layout = "_MasterLayout";
}

@section CSS
{
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
}

@section Pre_Body
{

    <div class="ui secondary pointing menu">
        <a class="ui logo icon image" href="/">
            <img class="logo" src="~/images/troll.png"  />
        </a>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="ui item">
            TrollChat
        </a>
        <div class="right menu">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="ui item">Home</a>
            <a asp-area="" asp-controller="Home" asp-action="CreateDomain" class="ui item">Create new Domain</a>
            <a asp-area="" asp-controller="Home" asp-action="About" class="ui item">About</a>
            <a asp-area="" asp-controller="Home" asp-action="Contact" class="ui item">Contact</a>
        </div>
        @await Html.PartialAsync("_LoginPartial")
    </div>
    <div class=" body-content">
        @if (TempData.ContainsKey("alertMessages"))
        {
            @Html.Partial("_AlertsPartial")
        }
        </div>
}

@section Post_Body
{
    <div class="ui inverted vertical footer segment">
        <div class="container">
            <hr />
            <p>&copy; 2017 - TrollChat</p>
        </div>
    </div>
}

@section Scripts
{
    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
}
@RenderBody()