<div class="ui basic modal">
    <!-- Simple "image" -->
    <div class="ui icon header">
        <i class="users icon"></i>
        Sign in
    </div>
    <div class="ui divider"></div>
    <div class="content">
    </div>
    <div class="ui divider"></div>
    <div class="actions">
        <button class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Cancel
        </button>
        <button class="ui button green inverted" form="sign-in-form" type="submit">
            <i class="sign in icon"></i>
            Create new
        </button>
    </div>
</div>