@model string
@{
    Layout = "";
}
<style>
    h1 {
        font-size: 44px;
        font-family: cursive;
    }

    h5 {
        font-family: cursive;
    }

    .pages {
        background-color: #4779ce;
        text-align: center;
        padding: 5px;
    }

    .btn-primary {
        border: green;
        background-color: green;
        width: 200px;
        height: 45px;
        padding: 13px;
    }

    .col-sm-offset-3 {
        text-align: center;
    }

    .image {
        vertical-align: middle;
    }

    .mywrapper {
        border-width: 1px;
        border: 1px solid;
        border-color: black;
        border-top: 0px;
    }
</style>
<body>
    <div class="contanier">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="pages">
                    <h1>TrollChat</h1><h5>Communicator for Trolls</h5><br />
                </div>
                <div class="mywrapper">

                    <div class="image">
                        <img src="http://archer.gamebanana.com/img/ico/sprays/4e68599f1e1ec.png" alt="Cinque Terre">
                    </div>
                    <h4>We are ready to activate your account.<br /> Only we have to check if the email is yours.</h4><br />
                    <div class="row">
                        <a class="btn btn-primary" href="@Model">Confirm Email</a>
                    </div>
                    <h6>If you do not create a TrollChat account,<br /> remove this email and everything will return to normal.</h6>
                </div>
            </div>
        </div>
    </div>
</body>