@model string
@{
    Layout = "";
}
<style>
    .pages {
        background-color: #1377db;
        text-align: center;
        padding: 5px;
    }

    .col-sm-offset-3 {
        text-align: center;
    }

    .mywrapper {
        border-width: 1px;
        border: 1px solid;
        border-color: black;
        border-top: 0px;
    }

    h1 {
        font-size: 38px;
    }
</style>
<body>
    <div class="ui container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="pages">
                    <h1>
                        T͇̟̺r̼̮͉̘̘͕͜o̭̗̙̻͝l͈͙ͅl̡͖̘ C͍̥h̝a͍t
                        ̩̰̱
                    </h1><h5>
                        C͚̬̹͍o̸m̫͚͎̻ͅm̮̟͔ͅͅu̦̳͔ń̹̜̰̩̜i̛̱c͝a̝̬̬t̷͍̬ò̬̲̮̤̟̙ŗ̹̻̙̦̜͙̞ ̫̮̙f̟̼o̧͔̤̦̼̣͙̜r ̼T͔͇̰͙̺r͖̘̟͕̬̫̲o̖͕̫̭̖͈̟l̜̖͇͍̞̟̝l̥̜̬̲̺͉̀s̢̰̩̺̠̥̙
                    </h5><br />
                </div>
                <div class="mywrapper">
                    <img class="ui centered medium image" src="http://archer.gamebanana.com/img/ico/sprays/4e68599f1e1ec.png">
                    <div class="ui medium header">We are ready to activate your account.<br /> Only we have to check if the email is yours.</div><p></p>
                    <div class="row">
                        <a class="ui inverted green button" href="@Model">Confirm Email</a>
                    </div>
                    <div class="ui tiny header">If you do not create a TrollChat account,<br /> remove this email and everything will return to normal.</div><p></p>
                </div>
            </div>
        </div>
    </div>
</body>