@model TrollChat.Web.Models.Auth.RegisterViewModel

@using (Html.BeginForm("Register", "Auth", FormMethod.Post))
    @{
            <h2>Register</h2>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "email", type = "email", required = "required" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
    }