@{
    Layout = "_WebLayout";
}
@model TrollChat.Web.Models.Auth.ResetPasswordInitiationViewModel


<div class="ui middle aligned center aligned grid">
    <div class="webressetbox column">
        <h2 class="ui teal header">Rsset password</h2>
        <br /><br />
        @using (Html.BeginForm("ResetPasswordInitiation", "Auth", FormMethod.Post))
            {
        <div class="ui middle aligned center aligned grid">
        <div class="ui form">
            <div class="field">
                @Html.LabelFor(m => m.Email, new { @class = "control-label col-sm-2" })
                <br />
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", type = "email", required = "required" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="field">
                <button class="orginalbutton big" type="submit" id="btnLogin">Reset password</button>
            </div>
        </div>
               
    </div>
}
    </div>
    </div>
      
