@{
    Layout = "_WebLayout";
    ViewData["Title"] = "Reset password";
}
@model TrollChat.Web.Models.Auth.ResetPasswordInitiationViewModel

<div class="ui middle aligned center aligned grid">
    <div class="column webressetbox">
        <h2 class="ui teal header">Reset password</h2>
        <br />
        @using (Html.BeginForm("ResetPasswordInitiation", "Auth", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.DomainName, ViewBag.DomainName as string)
            <div class="ui middle aligned center aligned grid">
                <div class="ui form">
                    <div class="field">
                        @Html.LabelFor(m => m.Email)
                        <br />
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", type = "email", required = "required" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="field">
                        <button class="orginalbutton big" type="submit" id="btnLogin">Reset password</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>