@{
    Layout = "_WebLayout";
}
@model TrollChat.Web.Models.Auth.ResetPasswordInitiationViewModel

@using (Html.BeginForm("ResetPasswordInitiation", "Auth", FormMethod.Post))
{
    <div class="webressetbox">
        <h1>Rsset password</h1>
        <br /><br />
        <div class="ui form">
            <div class="field">
                @Html.LabelFor(m => m.Email, new { @class = "control-label col-sm-2" })
                <br />
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", type = "email", required = "required" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="field">
                <button class="orginalbutton big" type="submit" id="btnLogin">Reset password</button>
            </div>
        </div>
    </div>
}