@{
    Layout = "_WebLayout";
    ViewData["Title"] = "Reset password";
}
@using BriskChat.Web.Models.Auth
@using Microsoft.AspNetCore.Mvc.Rendering
@model BriskChat.Web.Models.Auth.ResetPasswordInitiationViewModel

<div class="ui middle aligned center aligned grid">
    <div class="column webressetbox">
        <h2 class="ui teal header">Reset password</h2>
        <br />
        @using (Html.BeginForm("ResetPasswordInitiation", "Auth", FormMethod.Post))
        {
            <div class="ui large form">
                <div class="field">
                    <label>Please enter the email address you provided when registering.</label>
                    <br />
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", type = "email", required = "required", autofocus = "autofocus" })
                    <p>@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</p>
                </div>
                <div class="field">
                    <button class="orginalbutton big" type="submit" id="btnResetPassword">Reset password</button>
                </div>
            </div>
        }
    </div>
</div>