@{
    Layout = "_WebLayout";
    ViewData["Title"] = "Resend confirmation email";
}
@using BriskChat.Web.Models.Auth
@using Microsoft.AspNetCore.Mvc.Rendering
@model BriskChat.Web.Models.Auth.ResendConfirmationEmailViewModel

<div class="ui middle aligned center aligned grid">
    <div class="column webressetbox">
        <h2 class="ui teal header">Resend confirmation email</h2>
        <br />
        @using (Html.BeginForm("ResendConfirmationEmail", "Auth", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.DomainName, ViewBag.DomainName as string)
            <div class="ui large form">
                <div class="field">
                    @Html.LabelFor(m => m.Email, "Please enter the email address you provided when registering.")
                    <br />
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", type = "email", required = "required", autofocus = "autofocus" })
                    <p>@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</p>
                </div>
                <div class="field">
                    <button class="orginalbutton big" type="submit" id="btnLogin">Resend</button>
                </div>
            </div>
        }
    </div>
</div>