@{
    Layout = "_WebLayout";
}
@{
    ViewData["Title"] = "About";
}

<div class="ui one column center aligned grid">
    <div class="container">
        <br />
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
</div>
</div>