@{
    Layout = "_WebLayout";
}
@{
    ViewData["Title"] = "Create Room";
}

<div class="ui two column grid">
    <div class="middle aligned center aligned column">
        <h1 style="font-size:48px;">Create a new Domain</h1>
        <div class="ui large form">
            <div class="field">
                <label> Your email address  </label>
                <input type="email" placeholder="you@example.com" spellcheck="false">
            </div>
            <div>
                <button class="orginalbutton" type="submit" id="btnLogin">Next</button>
            </div>
        </div>
    </div>
    <div class="column">
        <div class=" domainbackground ">
        </div>
    </div>
</div>
