@{
    Layout = "_WebLayout";
}
@{
    ViewData["Title"] = "Create Room";
}

<div class="ui equal width grid">
    <div class="equal width row">
        <div class="column roms ">
            <div class="newroomdata">
                <h1 style="font-size:48px;">Create a new Domain</h1>
                <div class="ui form">
                    <label style="font-size:20px;">Your email address</label>
                    <input type="email" placeholder="you@example.com" spellcheck="false" class="">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button class="orginalbutton" type="submit" id="btnLogin">Next</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="column backgrounds"></div>
    </div>
</div>