@{
    Layout = "_WebLayout";
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="ui two column grid background">
    <div class="column ">
        <div >
          <div class="h01"> Where work* <br /><br /><br /><br />
            happens. </div>
        </div>
    </div>
    <div class="column">
        <div class="backgrounds">
            <img>
        </div>
    </div>
</div>