@{
    Layout = "_WebLayout";
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="ui two column grid">
<div class="middle aligned center aligned column">
    <div class="indexleftcolumn">
                <h1 class="headline">
                    Where <br> work<i class="empty heart icon"></i><br>happens.
                </h1>
        </div>
</div>
<div class="indexbackgrounds column">
</div>
</div>