@{
    Layout = "_WebLayout";
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="ui two column grid">
    <div class="middle aligned center aligned column">
        <div >
          <div> Where work* <br /><br /><br /><br />
            happens. </div>
        </div>
    </div>
    <div class="indexbackgrounds column">
    </div>
</div>